#nav-home {
   width: 30px;
   filter: invert(1);
}


#nav-logo {
    width: 30px;
    filter: invert(1);
}

#nav-search {
    width: 30px;
    filter:invert(1);
}

body {
    background-color: #121212;
}

section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #1a1a1a;
    border: 4px solid #1a1a1a;
    border-radius: 30px;
}

.album-images {
    min-height: 150px;
    min-width: 150px;
    max-width: 150px;
    max-height: 150px;
    padding: 10px;
    border-radius: 13%;

}

h1 {
    color: #ffffff;
}

h3 {
    color: #ffffff;
    margin: 1%;

    
}

p {
    color: #b3b3b3;
    margin: 1%;
}

.album {
    color: #ffffff;
    margin: 7px;

}

.artist {
    color: #b3b3b3;
    margin: 7px;
}

footer {
    height: 60px;
    width: 1500px;
    background-image: linear-gradient(to right, rgb(242, 94, 205), rgb(73, 144, 214));
    color: white;
}


.bottom {
    color:#ffffff;
}

.bottom text {
    color: #ffffff;
}

aside {
    color: #ffffff;
    height: 6000;
    background-color: #1a1a1a;
    float: left;
    height: 530px;
    width: 280px;
    border-radius:15px;
    margin: 10px;
}

.spotify-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}